/* 
** COLOR SCHEME
** fond          #...   #FBFF9F
** barre     #...   #FFFFD5


 Urbane Rounded Medium
font-family: urbane-rounded, sans-serif;
font-weight: 500;
font-style: normal;

Urbane Rounded Extra Light
font-family: urbane-rounded, sans-serif;
font-weight: 200;
font-style: normal;

Urbane Rounded Demi Bold
font-family: urbane-rounded, sans-serif;
font-weight: 600;
font-style: normal;

Urbane Rounded Light
font-family: urbane-rounded, sans-serif;
font-weight: 300;
font-style: normal;

Urbane Rounded Bold
font-family: urbane-rounded, sans-serif;
font-weight: 700;
font-style: normal;


*/




html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }


.loader-group {
    text-align: center;
}



form i{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto !important;
    opacity: 1;
    color: #ffffd4;

}

.inputgroupeye{
    position: relative;

}

body {
    min-height: 100%;
    background-color: #FFF9ED;
    
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 500;
    font-style: normal;
}

button.btnCreateIdea {
    background: #FFF89F;
}

header{
    position:fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background: #FFF89F ;
    background-image: url(heychange_code_script/heychange_code_script/images/logo_heychange.svg) center center ;
    background-size: contain;
    height: 10%;
    width: 100%;
    text-align: center ;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 500;
    font-style: normal;
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.37);
}


.logo_heychange {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 80px;
    background: url(heychange_code_script/heychange_code_script/images/logo_heychange.svg) no-repeat center center;
    background-size: contain;
}


.container .row {
    min-height: 95vh;
}


footer .container .row {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999999999;
}

footer .container .row .col:nth-child(3){
    width: 70px;
    height: 70px;
    background: #FFF89F ;
    border-radius: 50%;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.37);
    -webkit-appearance: none;

}



.navbar{
    background: #FFF89F ;
    position:fixed;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.37);
    -webkit-appearance: none;
}





h1 {
    z-index: 999999999;
    color: #F28888;
    text-shadow:3px 2px 0px #f288885d;
    font-family: 'urbane-rounded', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 3rem;
}

h1.page{
    z-index: 999999999;
    position: fixed;
    top: -20px;
    left: 0;
    align-content: center;
    width: 100%;
    color: #F28888;
    text-shadow: 3px 2px 0px #f288885d;
    font-family: 'urbane-rounded', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 3rem;
}






.titre{
    margin-bottom: 20px;
}

.question {
    padding-bottom: 50px;
}



h2{
    margin-top: 10%;
    margin-bottom: 0px;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    
}

h5{
    margin-top: 10%;
    margin-bottom: 0px;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color:#aad5ae;
    font-size: 1.5em;
    width: 220px;
}

h3{
    margin: -10px 0;
    color: #F28888;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}


/*****FILTRE IMAGE*****/

.profilcontent .bichrome img {
    
    margin: 20px 0px 20px -40px !important;
    border: 4px solid #A2BBD1;
    }

.card-item-content img {
    border: 4px solid #A2BBD1;
}    
    
figcaption {
    text-align: center;
    max-width: 100%;
    margin-top: -30px;
    margin-bottom: 30px;
} 
.bichrome img {
            margin: 32px;
    border: 4px solid #A2BBD1 !important;
        }

.card-item.demande .bichrome img {
            margin: 32px;
    border: 4px solid #FFF89F !important;
        }


/*BARRE DE RECHERCHE************************s******/

 .Recherche_p{
	Background-Color: #FFF89F;
    border-radius: 87px;
	Padding: 0 15% ;
    height: 40px;
    margin: 0 auto;
    width: 70%;
    display: block;
}
.Recherche-Barr{
	Margin-Bottom: Auto;
	Margin-Top: Auto;
	Background-Color: transparent;
}
.Recherche-Input{
	Border: 0;
	Width: 0;
	Line-Height: 37px;
    background-image: none;
}
.Recherche-Barr:hover > .Recherche-Input{
    margin-left: 5%;
	Padding: 0 10px;
	Width: 90%;
	Transition: Width 0.4s Linear;
    background-image: none;
}
.Recherche-Icone:hover{
	background-image: none;
}

.Recherche-Icone{
	Height: 40px;
	Width: 190px;
	Float: left;
	Display: Flex;
	Justify-Content: Center;
	Align-Items: Center;
	Color: #D7308A;
    background: url(heychange_code_script/heychange_code_script/images/Recherche.svg) no-repeat center center;
    background-size: contain;
}







/****        CARDS       *******/

body {
    overflow-x: hidden;
    padding: 38px;
    display: block;
    align-items: center;
  }

  .stackedcards{
      margin-top: 60px;
      margin-left: -7px;
      align-content: center;

  }

  .left-action{
    background: url(/heychange_code_script/images/cross.svg) no-repeat center center;
    padding: 10px;

}

  .left-action:hover{
      background: url(/heychange_code_script/images/redcross.svg) no-repeat center center;

  }

  .right-action{
    background: url(/heychange_code_script/images/heart.svg) no-repeat center center;
    padding: 10px;
}

  .right-action:hover{
      background: url(/heychange_code_script/images/redheart.svg) no-repeat center center;

  }
  
  .no-transition {
    -webkit-transition: none ! important;
    -o-transition: none ! important;
    transition: none ! important;
  }
  
  .stackedcards-overflow {
      overflow-y: hidden !important;
  }
  
  .stackedcards.init {
      opacity: 10;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
  }
  
  .stackedcards {
      position: relative;
      border-radius: 5px;
  }
  
  .stackedcards * {
      -webkit-user-select: none;
              -moz-user-select: none;
               -ms-user-select: none;
           user-select: none;
  }
  
  .stackedcards--animatable {
      -webkit-transition: all 400ms ease;
              -o-transition: all 400ms ease;
              transition: all 400ms ease;
             
  }


  
  .stackedcards .stackedcards-container > *,
  .stackedcards-overlay {
      position: absolute;
      width: 300px; /* set 100% */
      height: 100%; /* set 100% */
      will-change: transform, opacity;
      top: 0;
     
      padding-bottom: 12px ;
      border-radius: 0px;
  }
  
  .stackedcards-overlay.left > div,
  .stackedcards-overlay.right > div,
  .stackedcards-overlay.top > div {
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
  
  .stackedcards-overlay.left,
  .stackedcards-overlay.right,
  .stackedcards-overlay.top {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      left: 0;
      opacity: 10;
      top: 0;
      height: 100%;
      font-size: 24px; /* this style was added only for better preview */
      text-transform: uppercase; /* this style was added only for better preview */
      font-weight: 500; /* this style was added only for better preview */
      color: #f28888; /* this style was added only for better preview */
  }
  

  
  .stackedcards-overlay.right {
      background: #FFF89F;
      border-radius: 5px;
  }
  
  .stackedcards-overlay.left,
  .stackedcards-overlay.top {
      background:#F28888;
      color: #FFF89F ;
      border-radius: 5px;
  }
  
  .stackedcards-overlay.left:empty,
  .stackedcards-overlay.right:empty,
  .stackedcards-overlay.top:empty {
    display: none !important;
  }
  
  .stackedcards-overlay-hidden {
      display: none;
  }
  
  .stackedcards-origin-bottom {
      -webkit-transform-origin: bottom;
              -ms-transform-origin: bottom;
          transform-origin: bottom;
  }
  
  .stackedcards-origin-top {
      -webkit-transform-origin: top;
              -ms-transform-origin: top;
          transform-origin: top;
  }
  
  .stackedcards-bottom,
  .stackedcards-top,
  .stackedcards-none {
      background: #FCC17C; /* set card background background */
      height: 100%;
  }
  
  .stackedcards .stackedcards-container > :nth-child(1) {
      position: relative;
      display: block;
  }
  
  /* global actions buttons*/
  .global-actions {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%;
      margin: 25px 0 20px;
  }
  

  .right-action,
  .left-action {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
  }
  

  
  .fond-recharge{
      position: absolute;
      padding: 0 22px;
      top: 11px;
      left: 9px;
      width: 280px;
      text-align: center;
      background: #A2BBD1; 
      border-radius: 5px;
      color: #FFF89F;
  }
  
  /* elements on stacked cards */
  .card-item.proposition { 
      background: #FFF89F; 
      border-radius: 5px;
      color: #A2BBD1;
     
}

  .card-item.demande {
    background: #A2BBD1; 
    border-radius: 5px;
    color: #FFF89F;
   }

   .card-item.demande img {
       border: solid 4px #FFF89F;
   }

  .card-item-content{
      align-items: center;
      padding: 30px;
  }

  .card-item h2{
    align-items: center;
    width: 100%;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

.stackedcards .card-item h2 {
    margin-top: -30px;
    text-align: left;
    width: 85%;
    padding-left: 30px;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

.stackedcards .card-item p {
    padding-left: 30px;
    text-align: start;
    width: 95%;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.card-item p{

    text-align: start;
    width: 95%;
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.liste-annonce{
    margin: 40px 0 50px 0;

}

.liste-item-card{
    margin-top: 20px;
    padding-bottom: 14px;
}

.stackedcards-overlay{
    font-family: 'urbane-rounded', sans-serif;
    font-weight: 500;
    font-style: normal;
}

#map{
    margin-top: 40px;
    width: 70%;
    height: 30%;
}

/*.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right{
   display: none;
}*/




.btnCreateIdea {
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 9999999;
    height:10%;
    width: 100%;
    border:none;
    background: #FFF89F; 
    
}

button h2{
    justify-content: left;
    text-align: left;
}

button p{
    text-align: left;

}



.btnCreateIdea span{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #F28888;
    font-family: 'urbane-rounded';
}

.form-creer, .form-autre {
    margin: 50px 0 0 0;
}

  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'urbane rounded', sans-serif;
    color: #FFFFD5;
    font-weight: 600;
    font-size: 1rem;
  }

  

select {
    background-color: #A2BBD1;
    border:none;
    width: 100%;
    padding: 1em;
    margin: 0 0 20px 0;
    border-radius: 5px;
}

input{
    margin: 0.7em -25px;
    padding: 1em 1.5em;
    border: none;
    width: calc(100% + 50px);
    background-color: #AAD5AE;
    box-shadow: 4px 5px 0px 1px #89ad8c;
    -webkit-box-shadow: 4px 5px 0px 1px #89ad8c;
    -webkit-appearance: none;
    font-family: 'urbane rounded', sans-serif;
    border-radius: 50px;
}

.filtre{

    margin: 10 0 0 0;
    
}

.lieuannonce{
    width: 100%;
    display : flex;
    flex-direction: row; 
    justify-content : flex-start;

   
   
}

.lieuannonce select{
    max-width: 100%;
    width: 100%;
}

.typeannonce select{
    max-width: 100%;
    width: 100%;
}

.typeannonce{
    
    display : flex;
    flex-direction: row; 
    justify-content : flex-end;

    
}

td{
    width: 50%;
}


.navbar a{
    color:#F9DE4E;
      font-family: 'urbane-rounded', sans-serif;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding-top: 10px;

}

header h1{
    color:#F9DE4E;
      font-family: 'urbane-rounded', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-justify: center;
      padding-top: -50px;

}

a{
    color: #A2BBD1;
      font-family: 'urbane-rounded', sans-serif;
      font-weight: 300;
      text-decoration: none;
      
    }




.big{
    padding: 2%;
    border: none;
    height: 100px;
    color: #FFF89F !important;
    background-color: #F28888;
    letter-spacing: -0.015rem;
    border-radius: 5px;
    
}


input:active{
    border: solid 4px #F28888;
}






.ajouterimage{
    width: 100%;
    margin: 20% 0;
}







.cacher{
    display: none;
}


#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 90%;
    
}

.profilcontent img {
    max-width: 100%;
    margin: 10px 25px;
    border: 4px solid #aad5ae;
}

.ajouterphoto{
    color: #F9DE4E;
    margin-top: 20%;
    margin-bottom: -20%;
}

#messageErreur{
    font-size: 1rem;
}

.annoncecontent{
    margin: 20px 0 40px 0;
}

.annoncecontent img{
    max-width: 100%;
}



.infoannonce p{
    width: 100%;
    color:#F9DE4E;
    font-family: 'urbane-rounded', sans-serif;
    text-transform: uppercase;
}


.lik{
    background-image: url(/heychange_code_script/images/heart.svg);
}

figure{
    margin: 10px 0;
}


#description, .description, #legende, #scolarite, #toi {
    margin-top: 10px;
    width: 100%;
    color: #f28888;
    font-family: 'urbane-rounded', sans-serif;
}

p{
    width: 100%;
    
    font-family: 'urbane-rounded', sans-serif;
}



.modifier{
    float: right;
}

.lieu,
.type{
    display: inline;
}

.discussion{
    padding: 20px;
    box-shadow: 1px 10px 26px -13px rgba(0,0,0,0.93);
    -webkit-box-shadow: 1px 10px 26px -13px rgba(0,0,0,0.93);
    -moz-box-shadow: 1px 10px 26px -13px rgba(0,0,0,0.93);
}

.discussions{
    margin: 30px -37px;
  
    
}

.discussions a .apercu {
    text-transform:lowercase;
}

.orange{
    background-color: #A2BBD1;
    color: white;
}

.jaune{
    background: #FFF9ED;
    color: #F28888;
}

.nom{
    font-family: 'urbane-rounded', sans-serif;
    font-size: 1.5em;
}

.orangefonce{
    background-color:#F28888;
}

.chatcontent{
    margin: 15% 0;
   
}



.bulleMe{
    text-align: left;
    display: block;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    position: relative;
    right: -150px;
    border-radius: 10px;
}

.bulleAutre{
  
    text-align: left;
    display: block;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
}

.bulleMe p{
    color: white;
}

.bulleAutre p{
   color: white;
}

.time-right {
  margin-bottom: 10px;
  color: white;
  font-size: 0.7em;
}

/* Style time text */
.time-left {
  
  color: white;
  font-size: 0.7em;

}

img.uploadPicture{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url(/heychange_code_script/images/Icon\ awesome-camera.svg);
    width: 25px;
    background: no-repeat center center;
    background-size: contain;
}

.fleche{
    width: 30px;
    height: 30px;
    padding: 5px;
    position: fixed;
    left: 20px;
    top: 20px;
    background-image: url(/heychange_code_script/images/arrow.svg);
    background-size: contain;
    z-index: 999999999999999;
}

.centrerformadd{
    margin-top: 125px;
}

#toi{
    margin-bottom: 70px;
}

#message-to-send{
    border-radius: 20px;
    width: 60%;
    position: fixed;
    left: 20px;
    bottom: 9px;
    border:  solid 1px #F9DE4E;
}

.chat-message button{
    position: fixed;
    bottom: 20px;
    right: 60px;
    border: none;
}


ul.tabs {
    display: table;
    list-style-type: none;
    margin: 29px 0 0;
    padding: 0;
    width: 100%;
}

ul.tabs>li {
    float: left;
    padding: 10px;
    
}

ul.tabs>li:hover {
    background-color: lightgray;
}

ul.tabs>li.selected {
    background-color: lightgray;
}



ul { overflow: auto; }

.textJaune{

    color: #FFF89F;
}

img.textJaune{
    border: solid 4px #FFF89F;
}

button, input, optgroup, select, textarea {
   font-family: 'urbane rounded', sans-serif;
     font-size:unset;
    line-height: unset;
}

div.description {
    font-weight: 300;
}

.textgras{
    color: #F28888;
}

.textgrasg{
    color: #F28888;
    font-size: 1.3em;
}

.textinstagram{
    color: #A2BBD1;
    text-decoration: underline;
}


.question.infoErreur {
    color: #f28888;
    padding: 0 40px 0 36px;
    font-size: 13px;
}
.infoErreur {
    position: absolute;
    top: 176px;
    left: 12px;
}

.deconnexion{
    position: absolute;
    bottom: 87px;
    right: 50px;
}

img.logoReduit{
    width: 30%;
    vertical-align: middle;

}